# vi: ft=debcontrol
### Commented entries have reasonable defaults.
### Uncomment to edit them.
# Source: <source package name; defaults to package name>
Section: misc
Priority: optional
Homepage: https://github.com/eliminmax/debian-dependency-metapackages
Standards-Version: 3.9.2

Package: eliminmax-core-system
Version: 0.04
Maintainer: Eli Array Minkoff <eli@planetminkoff.com>
# Pre-Depends: <comma-separated list of packages>
Depends: kitty-terminfo, wget, curl, busybox-static, bash-completion, silversearcher-ag, fd-find, xxd, vim-nox | neovim | vim-gtk3, tree, tmux, needrestart
Recommends: neofetch, bat, extrepo, aptitude, equivs, command-not-found, gnupg, hexyl, shellcheck, moreutils, renameutils, bubblewrap, rsync, rsyslog, rsyslog-openssl | rsyslog-gnutls, byobu, pv, progress, sudo | sudo-ldap
Suggests: local-apt-repository, build-essential, pipx, asciinema, aha
# Suggests: <comma-separated list of packages>
# Provides: <comma-separated list of packages>
# Replaces: <comma-separated list of packages>
# Architecture: all
# Multi-Arch: <one of: foreign|same|allowed>
# Copyright: <copyright file; defaults to GPL2>
# Changelog: <changelog file; defaults to a generic changelog>
# Readme: <README.Debian file; defaults to a generic one>
# Extra-Files: <comma-separated list of additional files for the doc directory>
# Links: <pair of space-separated paths; First is path symlink points at, second is filename of link>
# Files: <pair of space-separated paths; First is file to include, second is destination>
#  <more pairs, if there's more than one file to include. Notice the starting space>
Description: Packages and symlinks that I would rather not go without
 Dependency metapackage for software I almost always regret not installing
