# vi: ft=debcontrol
### Commented entries have reasonable defaults.
### Uncomment to edit them.
# Source: <source package name; defaults to package name>
Section: misc
Priority: optional
Homepage: https://github.com/eliminmax/debian-dependency-metapackages
Standards-Version: 3.9.2

Package: darling-build-deps
Version: 0.1.20220704
Maintainer: Eli Array Minkoff <eli@planetminkoff.com>
Depends: cmake, clang, bison, flex, xz-utils, libfuse-dev, libudev-dev, pkg-config, libc6-dev-i386, libcap2-bin, git, git-lfs, libglu1-mesa-dev, libcairo2-dev, libgl1-mesa-dev, libtiff5-dev, libfreetype6-dev, libxml2-dev, libegl1-mesa-dev, libfontconfig1-dev, libbsd-dev, libxrandr-dev, libxcursor-dev, libgif-dev, libpulse-dev, libavformat-dev, libavcodec-dev, libswresample-dev, libdbus-1-dev, libxkbfile-dev, libssl-dev, llvm-dev
Description: Build Dependencies for Darling, the macOS compatibility layer
